:host {
  position: relative;
  display: inline-flex;
  background: var(--rating-background, #FFFFFF);
  color: var(--rating-color, #666666);
  border-radius: 100% 100% 100% 100%;
  font-weight: var(--rating-font-weight, bold);

  align-items: center;
  justify-content: center;

  --progress-arc-stroke-width: 4px;
  --progress-arc-rest-color: var(--rating-stamina-arc-rest, #CCCCCC);
}

:host([size="small"]) {
  --progress-arc-stroke-width: 3px;
}

hattrick-progress-arc {
  position: absolute;
  top: 0;
  left: 0;
}

.stamina-verylow { --progress-arc-color: var(--rating-stamina-arc-very-low, #DD4140); }
.stamina-low { --progress-arc-color: var(--rating-stamina-arc-low, #F5A104); }
.stamina-high { --progress-arc-color: var(--rating-stamina-arc-high, #F1C40A); }
.stamina-veryhigh { --progress-arc-color: var(--rating-stamina-arc-very-high, #31A94B); }


.rating-full { font-size: 1em; }
.rating-half { font-size: 0.6em; }