:host {
  position: relative;
  display: inline-flex;
  background: var(--rating-background, #ffffff);
  color: var(--rating-color, #666666);
  border-radius: 100% 100% 100% 100%;
  font-weight: var(--rating-font-weight, bold);

  align-items: center;
  justify-content: center;

  --progress-arc-stroke-width: 4px;
  --progress-arc-rest-color: var(--rating-stamina-arc-rest, #cccccc);
}

:host([size="small"]) {
  --progress-arc-stroke-width: 3px;
}

hattrick-progress-arc {
  position: absolute;
  top: 0;
  left: 0;
}

.stamina-verylow {
  --progress-arc-color: var(--rating-stamina-arc-very-low, #dd4140);
}
.stamina-low {
  --progress-arc-color: var(--rating-stamina-arc-low, #f5a104);
}
.stamina-high {
  --progress-arc-color: var(--rating-stamina-arc-high, #f1c40a);
}
.stamina-veryhigh {
  --progress-arc-color: var(--rating-stamina-arc-very-high, #31a94b);
}

.rating {
  z-index: 1;
}
.rating-full {
  font-size: var(--rating-font-size, 1em);
  line-height: 1;
}
.rating-half {
  font-size: var(--rating-font-size-half, 0.6em);
  line-height: 1;
}
