:host {
  position: relative;
  display: inline-flex;
  background: var(--rating-background, #ffffff);
  color: var(--rating-color, #666666);
  border-radius: 100% 30% 100% 100%;
  font-weight: bold;

  align-items: center;
  justify-content: center;

  --rating-stamina-offset: 2px;
  --rating-stamina-stroke-width: 3px;

  --rating-font-size: 11px;
  --rating-font-size-half: 7px;

  --rating-font-size-long: 8px;
  --rating-font-size-long-half: 7px;

  --rating-star-size: 8px;
  --rating-star-color: currentColor;
}

:host([size="large"]) {
  --rating-stamina-offset: 3px;
  --rating-stamina-stroke-width: 4px;

  --rating-font-size: 18px;
  --rating-font-size-half: 14px;

  --rating-font-size-long: 14px;
  --rating-font-size-long-half: 10px;

  --rating-star-size: 13px;
}

:host([no-star]) {
  border-top-right-radius: 100%;
}

hattrick-progress-arc {
  --progress-arc-stroke-width: var(--rating-stamina-stroke-width);
  --progress-arc-rest-color: var(--rating-stamina-arc-rest, #cccccc);

  position: absolute;
  top: var(--rating-stamina-offset);
  bottom: var(--rating-stamina-offset);
  left: var(--rating-stamina-offset);
  right: var(--rating-stamina-offset);
}

#star {
  position: absolute;
  top: 4%;
  right: 5%;
  width: var(--rating-star-size);
  height: var(--rating-star-size);
}

.stamina-verylow {
  --progress-arc-color: var(--rating-stamina-arc-very-low, #dd4140);
}
.stamina-low {
  --progress-arc-color: var(--rating-stamina-arc-low, #f5a104);
}
.stamina-high {
  --progress-arc-color: var(--rating-stamina-arc-high, #f1c40a);
}
.stamina-veryhigh {
  --progress-arc-color: var(--rating-stamina-arc-very-high, #59965d);
}

.rating {
  z-index: 1;
  line-height: 1;
}
.rating-full {
  font-size: var(--rating-font-size);
}
.rating-half {
  font-size: var(--rating-font-size-half);
}
.rating-long .rating-full {
  font-size: var(--rating-font-size-long);
}
.rating-long .rating-half {
  font-size: var(--rating-font-size-long-half);
}
