:host {
  --highlight-color: #277f31;

  --match-background: white;

  --current-match-background: white;
  /* --current-stage-background: inherit; */
  /* --current-empty-stage-background: inherit; */

  --expanded-match-background: white;
  /* --expanded-stage-background: inherit; */
  /* --expanded-empty-stage-background: inherit; */

  --collapsed-width: 5em;

  --pyjamas-odd: #fafafa;
  --pyjamas-even: #f0f0f0;

  display: block;
}

.controls {
  position: relative;
  display: inline-block;
  padding: 0 25px 20px 20px;
}
.controls > :not(.stages) {
  background-color: #EDF1ED;
  border: 1px solid #DCE2DC;
  position: absolute;
}
.controls > :not(.stages):hover {
  background-color: #dce2dc;
  cursor: pointer;
}

.control-left-up {
  top: 40px;
  left: 0;
  height: calc(50% - 30px - 5px);
  width: 10px;
  background: url(https://stage.hattrick.org/v2015516/App_Themes/Standard/Images/Icons/left_arrow.png) center center no-repeat;
}
.control-left-down {
  bottom: 20px;
  left: 0;
  height: calc(50% - 30px - 5px);
  width: 10px;
  background: url(https://stage.hattrick.org/v2015516/App_Themes/Standard/Images/Icons/left_arrow.png) center center no-repeat;
}
.control-up {
  top: 0;
  left: 20px;
  right: 25px;
  height: 10px;
  background: url(https://stage.hattrick.org/v2015516/App_Themes/Standard/Images/Icons/up_arrow.png) center center no-repeat;
}
.control-down {
  bottom: 0;
  left: 20px;
  right: 25px;
  height: 10px;
  background: url(https://stage.hattrick.org/v2015516/App_Themes/Standard/Images/Icons/down_arrow.png) center center no-repeat;
}
.control-right {
  top: 40px;
  bottom: 20px;
  right: 0;
  width: 10px;
  background: url(https://stage.hattrick.org/v2015516/App_Themes/Standard/Images/Icons/right_arrow.png) center center no-repeat;
}

.stages {
  display: inline-flex;
  /* overflow: hidden; */
}

.stage {
  width: 12.5em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-inline-start: 1em;
  padding-inline-end: 1em;
  transition: width 300ms;
}
.stage:not(.expanded) {
  width: var(--collapsed-width);
}
:host([pyjamas]) .stage:nth-child(odd) {
  background: var(--pyjamas-odd);
}
:host([pyjamas]) .stage:nth-child(even) {
  background: var(--pyjamas-even);
}

.stage.current-stage {
  background: var(--current-stage-background);
}
.stage.current-stage.empty-stage {
  background: var(--current-empty-stage-background, var(--current-stage-background));
}
.stage.current-stage .match {
  background: var(--current-match-background);
}
.stage.expanded-stage {
  background: var(--expanded-stage-background);
}
.stage.expanded-stage.empty-stage {
  background: var(--expanded-empty-stage-background, var(--expanded-stage-background));
}
.stage.expanded-stage .match {
  background: var(--expanded-match-background);
}

.header {
  font-size: 0.9em;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.stage .header a {
  margin: 0 3px;
}
/* .stage.expanded .header {
  text-align: center;
} */

.matches {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.match-wrapper {
  position: relative;
  margin: 5px 0;
}

.match {
  display: flex;
  flex-direction: column;

  color: inherit;
  background: var(--match-background);
  width: 100%;
  box-shadow: 0 0 4px #0006;
  text-decoration: none;
}

.team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2em;
  box-sizing: border-box;
  border: 2px solid transparent;
}
.team.highlight {
  border-color: var(--highlight-color);
  background-color: #eee;
}
.hide-names:not(.expanded) .name {
  display: none;
}

.team > * {
  padding: 0 3px;
}

.logo {
  width: 1.2em;
  max-height: 1.5em;
}

.name {
  flex-grow: 1;
  transition: width 300ms;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.hide-names .name {
  width: 0;
}

.demoted {
  font-size: 1.5em;
  margin-top: -1px;
}

.demoted, .lower-entry:after {
  color: #d00 !important;
}

.winner > * {
  font-weight: bold;
}
.loser > * {
  color: #aaa;
}
.loser img {
  /* filter: grayscale(100%); */
}

.exit, .entry, .lower-entry {
  pointer-events: none;
}

.lower-entry {
  box-sizing: border-box;
  height: 5px;
  width: 10px;
  right: 100%;
  position: absolute;
  border-left: 2px solid #ccc;
}
.lower-entry:after {
  content: "⬇";
  background: white;
  color: #aaa;
  font-size: 1em;
  position: absolute;
  border: 1px solid #ccc;
  padding: 0px 2px;
}

.highlight.lower-entry {
  border-color: var(--highlight-color) !important;
}
.highlight.lower-entry:after {
  background-color: #eee;
  border-color: var(--highlight-color) !important;
}
.lower-entry.up {
  bottom: calc(75%);
  border-bottom: 2px solid #ccc;
}
.lower-entry.down:after {
  right: 50%;
  top: 100%;
}
.lower-entry.down {
  top: calc(75%);
  border-top: 2px solid #ccc;
}
.lower-entry.up:after {
  right: 50%;
  bottom: 100%;
}
.lower-entry.start {
  height: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.lower-entry.start:after {
  right: calc(100% + 2px);
  top: -17px;
  height: 16px;
  width: 7px;
}

.exit {
  position: absolute;
  left: 100%;
  top: 50%;
  width: 0.66em;
  border-bottom: 2px solid #ccc;
}
.exit.down {
  height: 2em;
  top: calc(50% - 1px);
  border-top: 2px solid #ccc;
  border-bottom: initial;
  border-right: 2px solid #ccc;
}
.exit.up {
  height: 2em;
  top: initial;
  bottom: calc(50% - 1px);
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
}

.exit.highlight {
  /* border-right: 3px solid var(--highlight-color); */
  border-color: var(--highlight-color);
}
.exit.down.highlight {
  top: calc(50% - 1px);
  /* border-top: 3px solid var(--highlight-color); */
  border-color: var(--highlight-color);
}
.exit.up.highlight {
  bottom: calc(50% - 1px);
  /* border-bottom: 3px solid var(--highlight-color); */
  border-color: var(--highlight-color);

}

.entry {
  box-sizing: border-box;
  position: absolute;
  width: 1.3em;
  left: 100%;
  border-top: 2px solid #ccc;
  transition: width 300ms;
}
.long .entry { width: calc(var(--collapsed-width) + 10.8em); }
.hide-names:not(.expanded-next) .long .entry,
.hide-next-names:not(.expanded-next) .long .entry { width: calc(var(--collapsed-width) + 3.3em); }

.up .entry {
  bottom: 100%;
}
.down .entry {
  top: 100%;
}

.highlight .entry {
  /* border-top: 3px solid var(--highlight-color); */
  border-top-color: var(--highlight-color);
}

.promoted:after {
  content: "⬆";
  background: white;
  color: #277f31;
  font-size: 1.5em;
  position: absolute;
  left: 100%;
  bottom: 100%;
  border: 1px solid #ccc;
  padding: 0px 2px 4px 2px;
}
.highlight.promoted:after {
  border-color: var(--highlight-color);
  background-color: #eee;
}