:host {
  display: block;
  height: 14px;
  font-size: 12px;
  line-height: 1;
  pointer-events: none;
  position: relative;
}

.level,
.cap,
.max {
  position: absolute;
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;
}

.level {
  background-color: var(--bar-level-background, #59965d);
  color: var(--bar-level-color, #f7f7f7);
}

.cap {
  background-color: var(--bar-cap-background, #cacaca);
  color: var(--bar-cap-color, black);
}

.max {
  background-color: var(--bar-max-background, #ececec);
  color: var(--bar-max-color, #3f7137);
}

.level.capped {
  background-color: var(--bar-capped-background, #ffc000);
  color: var(--bar-capped-color, black);
}

:host(.verylow) .level {
  background-color: var(--bar-verylow-background, #dd4140);
  color: var(--bar-verylow-color, #f7f8f7);
}
:host(.low) .level {
  background-color: var(--bar-low-background, #f5a104);
  color: var(--bar-low-color, black);
}
:host(.high) .level {
  background-color: var(--bar-high-background, #f1c40a);
  color: var(--bar-high-color, black);
}
:host(.veryhigh) .level {
  background-color: var(--bar-veryhigh-background, #59965d);
  color: var(--bar-veryhigh-color, #f7f8f7);
}
