
:host {
    display: block;
    font-size: 11px;
    line-height: 11px;
}
table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
}

td {
    height: 14px;
    padding: 1px;
    vertical-align: middle;
}

td.bar-level {
    background-color: var(--bar-level-background, #A9A9A9);
    color: var(--bar-max-background, #ECECEC);
    position: relative;
    text-align: start;
}
td.bar-level.maxed {
    background-color: var(--bar-capped-background, #FFEB99);
    color: var(--bar-level-background, #A9A9A9);
}

td.bar-cap {
    background-color: var(--bar-cap-background, #CACACA);
    color: var(--bar-max-background, #ECECEC);
    text-align: start;
}


td.bar-max {
    background-color: var(--bar-max-background, #ECECEC);
    color: var(--bar-level-background, #A9A9A9);
}

.title {
    color: var(--bar-title-color, #000000);
    white-space: nowrap;
    position: absolute;
    top: 2px;

    :host-context([dir=ltr]) & { left: 2px; }
    :host-context([dir=rtl]) & { right: 2px; }
}

.number {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    white-space: nowrap;
}

td.bar-level .number {
    position: absolute;
    top: 2px;

    // :host(:dir(ltr)) & { right: 0; }
    // :host(:dir(rtl)) & { left: 0; }
    // @at-root [dir=ltr] & { right: 0; }
    // @at-root [dir=rtl] & { left: 0; }
    
    :host-context([dir=ltr]) & { right: 0; }
    :host-context([dir=rtl]) & { left: 0; }
}

.denomination {
    position: absolute;
    top: 2px;

    :host-context([dir=ltr]) & { left: 75px; }
    :host-context([dir=rtl]) & { right: 75px; }
}
