:root {
  /* --app-primary-color: #59965d; */

  --bar-level-background: #A9A9A9;
  --bar-cap-background: #CACACA;
  --bar-max-background: #ECECEC;
  --bar-capped-background: #FFEB99;
  --bar-title-color: #000000;

  --avatar-size: 1;

  /* --progress-arc-size: 40px; */
  --progress-arc-stroke-width: 8px;
  --progress-arc-color: #00aa00;
  --progress-arc-rest-color: transparent;

  --tooltip-background: rgba(0, 0, 0, .75);
  --tooltip-color: white;
  --tooltip-font-size: 12px;
  --tooltip-border: 0;
  --tooltip-padding: 5px 10px;
  --tooltip-box-shadow: none;
  --tooltip-max-width: 400px;
  --tooltop-arrow-size: 7px;
  --tooltop-border-radius: 3px;
  --tooltip-pointer-events: none;
  --tooltip-delay: 0s;
}