:host {
  display: inline-block;

  width: var(--flip-width, 100%);
  height: var(--flip-height, 100%);
}

.wrapper {
  position: relative;
  perspective: 800px;

  width: 100%;
  height: 100%;

  display: inline-block;
  transform-style: preserve-3d;
  transition: transform var(--flip-duration, 1s);
}

.front, .back {
  backface-visibility: hidden;
  transition: opacity .2s linear .3s;
  
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.front { opacity: 1; }
.back { opacity: 0; }

:host([flipped]) .front { opacity: 0; }
:host([flipped]) .back { opacity: 1; }

:host([direction="x"]) .back { transform: rotateX(180deg); }
:host([direction="y"]) .back { transform: rotateY(180deg); }

:host([flipped][direction="x"]) .wrapper {
  transform: rotateX(180deg);
}

:host([flipped][direction="y"]) .wrapper {
  transform: rotateY(180deg);
}

/* IE only (not Edge) */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* The transformations for IE doesn't work so well, so we make some hacking here. */

  .front, .back {
    transform: none !important;
    position: absolute;
    top: 0;
    margin-top: 0;
  }

  :host([flipped]) .wrapper {
    transform: none !important;
  }
}