:host {
  display: inline-block;
}

.playertooltip {
  display: none;

  background: white;
  border: 2px solid #277F31;
  border-radius: 4px;
  padding: 5px 10px;
  pointer-events: none;
}

.playertooltip[show] {
  display: block;
}

.loading { padding: 75px 200px; }
.bar-max { width: 100%; }

hattrick-bar { width: 140px; }