
// #wrapper {
//   display: inline-block;
// }

:host [slot="content"] {
  position: fixed;
}

#tooltip {
  position: fixed;

  text-align: initial;

  // [slot="content"] > * { position: relative; }
  
  // display: none;
  // #wrapper:hover & { display: block; }
  
  max-width: var(--tooltip-max-width, 400px);

  font-size: var(--tooltip-font-size, 1rem);
  background-color: var(--tooltip-background, rgba(0, 0, 0, .75));
  color: var(--tooltip-color, #FFFFFF);
  border: var(--tooltip-border, 0);
  border-radius: var(--tooltip-border-radius, 3px);
  padding: var(--tooltip-padding, 5px 10px);
  box-shadow: var(--tooltip-box-shadow, none);
  z-index: 10000;

  pointer-events: var(--tooltip-pointer-events, none);

  opacity: 1;
  visibility: visible;
  // transform: translate3d(0, 0, 0);

  // transition-property: transform, opacity;
  // transition-duration: .3s;
  // transition-timing-function: ease-in-out;

  // white-space: nowrap;

  transition: margin .3s, opacity .3s;
  transition-delay: var(--tooltip-delay, 0s);

  &[hidden] {
    opacity: 0;
    display: block;
    visibility: hidden;
  }
}

:host(:not([arrow])), :host([arrow][arrow="none"]) {
  --tooltip-arrow-size: 0px;
  #tooltip { transition: opacity .3s; }
  #tooltip:before { content: unset; }
}

:host([arrow]) {
  #tooltip:before {
    position: absolute;
    content: '';
    border: var(--tooltip-arrow-size, 7px) solid transparent;
  }
}

:host([arrow="start"][position="start"]), :host([arrow="start"][position="end"]) {
  #tooltip { transform: translateY(-5px); }
  #tooltip:before { top: 5px; }
}
:host([arrow="start"][position="top"][dir="ltr"]) {
  #tooltip:before { left: 5px; }
}
:host([arrow="start"][position="top"][dir="rtl"]) {
  #tooltip:before { right: 5px; }
}
:host([arrow="start"][position="bottom"][dir="ltr"]) {
  #tooltip:before { left: 5px; }
}
:host([arrow="start"][position="bottom"][dir="rtl"]) {
  #tooltip:before { right: 5px; }
}

:host([arrow="middle"][position="start"]), :host([arrow="middle"][position="end"]) {
  #tooltip { transform: translateY(-50%); }
  #tooltip:before { top: 50%; transform: translateY(-50%); }
}
:host([arrow="middle"][position="top"]), :host([arrow="middle"][position="bottom"]) {
  #tooltip { transform: translateX(-50%); }
  #tooltip:before { left: 50%; transform: translateX(-50%); }
}

:host([arrow="end"][position="start"]), :host([arrow="end"][position="end"]) {
  #tooltip { transform: translateY(5px); }
  #tooltip:before { bottom: 5px; }
}
:host([arrow="end"][position="top"][dir="ltr"]) {
  #tooltip:before { right: 5px; }
}
:host([arrow="end"][position="top"][dir="rtl"]) {
  #tooltip:before { left: 5px; }
}
:host([arrow="end"][position="bottom"][dir="ltr"]) {
  #tooltip:before { right: 5px; }
}
:host([arrow="end"][position="bottom"][dir="rtl"]) {
  #tooltip:before { left: 5px; }
}

:host([no-animate]) {
  #tooltip {
    transition: none;
    margin: 0;
  }
}

:host([position="top"]) {
  #tooltip {
    margin-bottom: calc(var(--tooltip-arrow-size, 7px) + 3px);
    &[hidden] { margin-bottom: calc(var(--tooltip-arrow-size, 7px) + 10px); }
    &:before {
      top: 100%;
      border-top-color: var(--tooltip-border-color, var(--tooltip-background, transparent));
    }
  }
}
:host([position="bottom"]) {
  #tooltip {
    margin-top: calc(var(--tooltip-arrow-size, 7px) + 3px);
    &[hidden] { margin-top: calc(var(--tooltip-arrow-size, 7px) + 10px); }
    &:before {
      bottom: 100%;
      border-bottom-color: var(--tooltip-border-color, var(--tooltip-background, rgba(0, 0, 0, .75)));
    }
  }
}
:host([position="start"][dir="ltr"]) {
  #tooltip {
    margin-right: calc(var(--tooltip-arrow-size, 7px) + 3px);
    &[hidden] { margin-right: calc(var(--tooltip-arrow-size, 7px) + 3px + 10px); }
    &:before {
      left: 100%;
      border-left-color: var(--tooltip-border-color, var(--tooltip-background, rgba(0, 0, 0, .75)));
    }
  }
}
:host([position="start"][dir="rtl"]) {
  #tooltip {
    margin-left: calc(var(--tooltip-arrow-size, 7px) + 3px);
    &[hidden] { margin-left: calc(var(--tooltip-arrow-size, 7px) + 3px + 10px); }
    &:before {
      right: 100%;
      border-right-color: var(--tooltip-border-color, var(--tooltip-background, rgba(0, 0, 0, .75)));
    }
  }
}

:host([position="end"][dir="ltr"]) {
  #tooltip {
    margin-left: calc(var(--tooltip-arrow-size, 7px) + 3px);
    &[hidden] { margin-left: calc(var(--tooltip-arrow-size, 7px) + 3px + 10px); }
    &:before {
      right: 100%;
      border-right-color: var(--tooltip-border-color, var(--tooltip-background, rgba(0, 0, 0, .75)));
    }
  }
}
:host([position="end"][dir="rtl"]) {
  #tooltip {
    margin-right: calc(var(--tooltip-arrow-size, 7px) + 3px);
    &[hidden] { margin-right: calc(var(--tooltip-arrow-size, 7px) + 3px + 10px); }
    &:before {
      left: 100%;
      border-left-color: var(--tooltip-border-color, var(--tooltip-background, rgba(0, 0, 0, .75)));
    }
  }
}
