:host {
  display: inline-block;
}

.track {
  stroke: var(--progress-arc-rest-color, transparent);
  /* stroke-dasharray: 75; */
}
.progress {
  stroke: var(--progress-arc-color, black);
  /* stroke-dasharray: 100;
  stroke-dashoffset: calc(100 - 0 * 0.75); */
}
